@import 'config';
@import 'start';
@import 'questions';
@import 'result';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-body;
}

.container{
    @include flex-center-column;
    background: $secondary-color;
    height: 100vh;
}

.header{
    @include flex-center-column
}

.content{
    max-width: 500px;
    width: 90%;
}

.start, .questions{
    @include flex-center-column;
}

.error-message{
    color: #fff;
}